.favoritos {
    display: grid;
    gap: 10px;   
  }
  
  .grid-columns-5 {
    grid-template-columns: repeat(5, 1fr);
    border-radius: 10px;
    width: 100%;
  }
  
  .grid-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .favoritos .foto {
    cursor: pointer;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    text-shadow: 0px 0px 15px black;
  }
  
  .favoritos .foto:hover {
    box-shadow: 0px 0px 2px 1px black;
  }
  
  .favoritos .foto svg {
    align-self: flex-end;
  }
  
  .p-3 {
    padding: 30px;
  }
  
  .favoritos img:hover {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transform: scale(0.95);
    animation: tiembla 0.1s infinite;
  }

  .favoritos img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    /*filter: grayscale(10);*/
    transform: scale(1);
    transition: 0.5s all;
  }

  .foto{
    border-radius: 20px;
    width: 100%;
    align-items: center;
    margin: 5%;
    padding: 10%;
  }