@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: none;
}

.fa-cart-shopping,
.fa-heart,
.fa-user,
.fa-star,
.fa-arrow-right-from-bracket {
  font-size: 1.5rem;
}

.favorite {
  position: absolute;
  right: 5px;
  top: 5px;
}

.fa-star-of-life {
  color: rgba(0, 0, 0, 0.22);
  transition: 0.4s all;
  cursor: pointer;
}

.fa-star-of-life:hover {
  color: #0476d9;
  transform: rotate(1rad);
  font-size: 1.7rem;
}

.nav-gap {
  column-gap: 10px;
}

.grilla-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;
  gap: 1rem;
}

.card {
  width: 24%;
}

.navp {
  padding: 0 2rem;
}

.categoria-img {
  width: 30%;
}

.categoria-carrusel {
  width: 70%;
}

.categoria-img-carrusel {
  display: flex;
  width: 100%;
  column-gap: 2%;
  margin: 2rem auto; 
  
  border-radius: 10px;
  cursor: pointer;
  
}

.categoria-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 10px;
  cursor: pointer;
}

.slick-track {
  display: flex;
  column-gap: 10px;
}

.card-title h5 {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slick-slide img {
  width: 100%;
  height: 200px;
}

/*MediaQuery*/
@media only screen and (max-width: 980px) {
  .showmenu {
    position: absolute;
    top: 68px;
    background: rgb(52, 58, 64);
    z-index: 9999999;
    padding: 30px;
    width: 100vw;
    left: 0px;
  }

  .grilla-productos {
    width: 90%;
  }

  .card {
    width: 47%;
  }

  .categoria-carrusel,
  .categoria-img {
    width: 100%;
  }

  .categoria-img-carrusel {
    flex-direction: column;
  }
  .navp {
    padding: 0 0.5em;
  }

  .slick-slide img {
    height: 200px;
  }
}

/*Fin Media Query*/

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #0051ff;
}
.off {
  color: #ccc;
}

.ficha-productos {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  column-gap: 20%;
}

.img-description-tecnica-video {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.info-comprar {
  width: 30%;
  position: sticky;
  top: 5%;
  height: 200px;
}

.ficha-img img {
  width: 80%; 
  margin: 2rem auto; 
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 10px;
  cursor: pointer;
  
}

.ficha-img {
  display: flex;
  justify-content: center;  
}

/*.masonry {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;  
  margin: 1rem auto;
  column-gap: 3%;
}*/

.slider {
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;  
  margin: 1rem auto;
  column-gap: 3%;
   
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 10px;
  cursor: pointer;
}

.calugas {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsletter-bck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url("https://raw.githubusercontent.com/visnupriyaAmstein/SCL018-burger-queen/main/src/img/imgHome.png");
  height: 170px;
  background-repeat: no-repeat;
  column-gap: 1%;
  width: 100%;
  filter: blur(3px) brightness(0.5);
}

.News-Text {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  position: relative;
  align-content: center;
  align-items: center;
}

.News-Text h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
}

.News-Text p {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.newsletter-cotainer {
  position: relative;
}

.news-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20%;
  position: absolute;
  top: 80px;
  align-items: center;
  width: 100%;
}

.news-input .input-group.mb-3 input {
  width: 300px !important;
}

.news-input .input-group.mb-3 button {
  background: transparent;
  color: wheat;
}

.info-corp {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 1rem 0;
  color: wheat;
  cursor: pointer;
}

.info-corp h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
}

.info-corp li {
  font-size: 1rem;
  font-weight: 50;
  letter-spacing: 1px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
}


.corporacional-container {
  background-color: #212529;
}

.bottom-fotter {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0.5rem 0;
  color: white;
}
