.market {
    display: grid;
    gap: 20px;     
  }  

  .grid-columns-5 {
    grid-template-columns: repeat(5, 1fr);
    border-radius: 10px;
    width: 30%;
  }
  
  .grid-columns-4 {
    grid-template-columns: repeat(4, 1fr);
    width: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .galeria .foto {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 20px;
    background-size: cover;
    background-position: center;
    color: wheat;
    text-align: left;
    text-shadow: 0px 0px 15px black;
  }
  
  .galeria .foto:hover {
    box-shadow: 0px 0px 2px 1px black;
  }
  
    
  .p-3 {
    padding: 20px;
  }
  
  .galeria img:hover {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transform: scale(0.95);
    animation: tiembla 0.1s infinite;
  }

  .galeria img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    /*filter: grayscale(10);*/
    transform: scale(1);
    transition: 0.5s all;
  }

  .foto{
    border-radius: 20px;
    width: 100%;
    align-items: center;
    margin: 5%;
    padding: 10%;    

  }
  