a {
    justify-items: center;
     text-decoration: none;
     color:wheat;
   }
   
   .navbar {
     justify-items: center;
     background-color: #4e4d4d;
     color:wheat;
     padding: 20px;
     
   }