@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  overflow: hidden;
}
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  color: wheat;
}
.background-home {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://raw.githubusercontent.com/visnupriyaAmstein/SCL018-burger-queen/main/src/img/imgHome.png');
  background-size: cover;
  background-position: bottom;
  filter: blur(5px);
  position: absolute;
  top: 0;
  z-index: -1;
  color: wheat;
  transform: scale(1.1);  
  font-family: 'Montserrat', sans-serif;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 400px;
  width: 1200px;

}

.logo {
  font-size: 50px;
  color: wheat;
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: absolute;
  width: 100vw;
}

#tienda,
#perfil {
  display: grid;
  grid-template-columns: 200px 1fr;
  color: wheat;
  font-family: 'Montserrat', sans-serif;
  
}

aside {
  box-shadow: -3px 0px 10px 1px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10px;
}

aside select {
  display: flex;
 
}

.publicaciones {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 680px) {
  .publicaciones {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .publicaciones {
    grid-template-columns: repeat(4, 1fr);
  }
}
